header{
    width: 100vw;
    background-color: #1D7418;
    display: flex;
}

#foto{
    height: 100%;
}

nav{
    width: 100%;
    padding: 10px;
}

.principal{
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 35px;
    color: #fafafa;
}

.redesSociais{
display: flex;
justify-content: space-around;
}

.linkedin{
    background-color: #fafafa;
    height: 80px;
    width: 200px;
     border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.linkedin img{
    position: relative;
    right: 20px;
}

.github{
    background-color: #2F333C;
    height: 80px;
    width: 200px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    color: #fafafa;
}

.github img{
    width: 48px;
}