main{
    width: 100vw;
    background-color: #C5E477;
}

#apresentar{
    height: 780px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao{
    width: 1400px;
    height: 450px;
    background-color: #88B345;
    text-align: center;
    border-radius: 25px;
}

.apresentacao h1{
    font-size: 60px;
    margin-bottom: 30px;
}

.apresentacao p{
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #fafafa;
}

/*Linha*/

hr{
    width: 100%;
    height: 50px;
    background-color: #1D7418;
}

/*próxima sessão*/

#tec{
    width: 100%;
    height: 1120px;
    padding: 50px;
}

.tecnologia{
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.front{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.html{
    width: 200px;
    height: 250px;
    background-color: #88B345;
    align-items: center;
    justify-content: center;
}

.back{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    padding: 100px;
}